<%- include("header", {title: title}); %>
<article class="">
<h1>Produktdetaljer</h1>
<p>Information om produkt med produktkod:<b> <%= id %></b>.</p>
<pre><%#= JSON.stringify(res, null, 4) %></pre>
    <h3>Titel - Artist</h3>
    <%= res[0].titel %>
    <h3>Pris</h3>
    <%= res[0].pris %> kr
    <h3>Beskrivning</h3>
    <%= res[0].beskrivning %>
    <h3>Bildlänk</h3>
    <%= res[0].bildlank %>
    <h3>Produktkod</h3>
    <%= res[0].kod %>
</article>

<%- include("footer"); %>
